/* Error: There is no module with the namespace "color".
 *     ,
 * 319 | $table-dark-border-color:     color.adjust($color, $lightness: 7.5%) !default;
 *     |                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   assets/scss/bootstrap/_variables.scss 319:31  @import
 *   assets/scss/style.scss 4:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "color".\a     \2577 \a 319 \2502  $table-dark-border-color:     color.adjust($color, $lightness: 7.5%) !default;\d\a     \2502                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   assets/scss/bootstrap/_variables.scss 319:31  @import\a   assets/scss/style.scss 4:9                    root stylesheet';
}
