.page {
  display: flex;
  min-height: 70vh;
  /* Previous iterations of the site had a min-height of 100vh.*/
  /* Changed this since pages that had little content (several lines worth) had too much blank space, especially on bigger screens */
  /* Considered creating another category of page with no vertical min-height for pages with smaller amounts of content, but commenting out the min-height didn't change the functionality of any other pages. So I just commented it our instead of creating yet another type of page */
  flex-direction: column;

  .wrapper {
    flex: 1 0 0;
  }

  .pagination {
    justify-content: center;
    .page-link {
      border: none;
    }
  }

  .whitebox {
    padding: 1rem;
    @include media-breakpoint-up(md) {
      padding: 3rem;
    }
  }
  .by-line {
    font-weight: bold;
    font-size: 1rem;
  }
  .publish-date {
    margin-bottom: 1rem;
  }
  .small {
    font-size: 0.8rem;
  }
  .active {
    color: $orange;
  }
}

em {
  font-weight: 600;
  font-style: normal;
}
